
@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class="card">
    <div class="card-body">
        <h2 class="text-center text-success">Email Confirmed</h2>
        <p class="text-center">Thank you for confirming your email. You can now <a asp-controller="Account" asp-action="Login" class="btn btn-link">log in</a> to your account.</p>
    </div>
</div>

