@model BooksEcommerce.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["AlertMessage"]
    </div>
}
<div>
    <p>After resetting the password you can <a asp-controller="Account" asp-action="Login" class="btn btn-link">log in</a>here.</p>
</div>
