bin/ 
obj/ 
*.user 
*.suo 
*.vs 
*.vscode 
*.db 

"appsettings.json" 
"appsettings.Development.json" 
"appsettings.json" 
"appsettings.Development.json" 
appsettings.json 
appsettings.Development.json 
appsettings.json 
appsettings.Development.json 
