
@{
    ViewData["Title"] = "ViewDetails";
}
<a asp-action="Create" asp-controller="Category" class="btn btn-primary">Create New</a>
<br /><br />
<table id="formDataTable" class="table table-striped mb-4">
    <thead>
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
               
                <td>
                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        } 
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    

    <script>
        $(document).ready(function () {
            $('#formDataTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                responsive: true,
               
            });
     });

    </script>
}
